{% extends "app/layout.html" %}

{% block content %}

<h2>{{ Membros do grupo }}.</h2>
<h3>{{ Felipe Alves 1701220 / Felipe Silva 1701291 / Gabriel Sartarelli 1700274 / Giovanni Guida 1701634 / Guilherme Alves 1701360 / Ismael Rojas 1701640 }}</h3>

<address>
    Empresa Software Soluções<br />
    Rua do Código, 1010<br />
    <abbr title="Telefone">Tel:</abbr>
    91010-1010
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Suporte@example.com">Suporte@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

{% endblock %}
